Code/SpringSocial/src/main/resources/application.properties
application.properties
Code/SpringSocial/target/
Code/SpringSocial/.project
Code/SpringSocial/.classpath
Code/SpringSocial/.settings/
Code/SpringSocial/bin/